---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1 class="attribute">{{ title }}</h1>

<time datetime="{{ page.date }}">{{ page.date | readableDate }}</time>

{{ content | safe }}

<a class="home" href="/">
    🏠
</a>